.mega-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

header,
footer {
  background-color: black;
  color: white;
}

main {
  flex-grow: 1;
  overflow-y: auto;
}
.cards {
  justify-content: space-between;
}

.card-img-top {
  height: 25vw;
}

.card-title {
  font-size: 14px;
  margin-bottom: 0;
}

.card-text {
  font-size: 12px;
  margin-bottom: 8px;
}
